Source: crs-scripts
Priority: optional
Maintainer: derchris <derchris@me.com>
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               docbook-xsl
Standards-Version: 4.2.1
Section: libs
Homepage: https://github.com/crs-tools/crs-scripts

Package: crs-scripts
Architecture: any
Depends: ${misc:Depends}, 
         ${shlibs:Depends},
         fuse-ts,
         libboolean-perl,
         libconfig-inifiles-perl,
         libdatetime-format-strptime-perl,
         libdatetime-perl,
         libfile-which-perl,
         libipc-run3-perl,
         libjson-perl,
         libmath-round-perl,
         libproc-processtable-perl,
         libwww-curl-perl,
         libxml-libxml-perl,
         libxml-libxml-simple-perl,
         libxml-rpc-fast-perl,
         libxml-simple-perl
Recommends: ca-certificates
Description: CRS Worker scripts
 Set of worker scripts that communicate with the https://github.com/crs-tools/tracker